extends layout

block content
  div Welcome to #{title}, enable camera to post video emoji!
  #waiting Connecting to chat server...
  #second_counter
  #conversation
  #submission
    input(placeholder="say something..")
  #webcam_stream
  #video_container
